---
layout: layouts/home.njk
---
<span class="hidden lg:block mb-4 text-5xl">Latest</span>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "home-list.njk" %}
