---
templateClass: tmpl-archive
---
{% extends "layouts/base.njk" %}

{% block content %}
{{ content | safe }}
{% endblock %}

{% block prefetch %}
{%- for post in collections.posts %}
<link rel="prefetch" href="{{ post.url }}" as="document">
{%- endfor %}
{% endblock %}

