<header>
  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  <ul class="flex justify-center py-2 space-x-4 lg:space-x-16 ">
  {%- for entry in collections.all | eleventyNavigation %}
    <li class="{% if entry.url == page.url %} underline{% endif %}">
      <a href="{{ entry.url | url }}" class="text-gray-500">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>

  <div class="flex justify-center py-8 lg:py-12">
    <span class="text-3xl"><a href="{{ '/' | url }}">{{ metadata.title }}</a></span>
  </div>
</header>
