---
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% block content %}
 <div class="flex items-center">
  <h1 class="text-2xl lg:text-3xl text-main">{{ title }}</h1>
  <div class="relative flex items-center ml-2 lg:ml-4">
    <button id="copy-button" aria-labelledby="copy-label">
      <span id="copy-label" hidden>Copy URL</span>
      <div aria-hidden="true" focusable="false" class="link-icon w-4 h-4 lg:w-6 lg:h-6"></div>
    </button>
    <span id="copy-notification" class="w-24 px-2 py-1 rounded absolute top-full -right-1/2 text-sm bg-black bg-opacity-80 text-white transform-gpu duration-300 translate-y-2 transition-opacity opacity-0">URL Copied</span>
  </div>
</div>

<time class="text-xs lg:text-sm block my-2" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

<div class="post-tag-list">
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
  {%- endfor %}
</div>

{{ content | safe }}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{% endblock %}

{% block prefetch %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

{%- if previousPost %}<link rel="prefetch" href="{{ previousPost.url }}" as="document">{% endif %}
{%- if nextPost  %}<link rel="prefetch" href="{{ nextPost.url }}" as="document">{% endif %}

{% endblock %}

{% block customScript %}
<script>
  function copy() {
    const el = document.createElement("textarea");
    el.value = window.location.href;
    document.body.appendChild(el);
    el.select()
    document.execCommand("copy");
    document.body.removeChild(el);

    const notification = document.querySelector('#copy-notification');
    notification.classList.add('opacity-40')
      setTimeout(function(){
        notification.classList.remove('opacity-40')
      }, 2000);
  }

  document.querySelector("#copy-button").addEventListener("click", copy);
</script>

{% endblock %}
